body {
    overflow: inherit !important;
    padding: 0 !important;
}

/*** Menu ***/
#menu-logo {
    margin: 10px 20px;
    color: #f1c575;
}

.menu-welcome {
    align-self: center;
    margin: 0;
    color: white;
}

/*** Home page ***/

.site-logo {
    padding: 240px 0;
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url(./images/pexels-photo-3184306.jpeg) no-repeat center;
    background-size: cover;
    text-align: center;
    color: white;
}

.site-logo h1 {
    font-weight: 900;
    font-size: 3em;
    font-style: italic;
}

.site-logo hr {
    width: 700px;
}

.login-buttons {
    padding-top: 16px;
}

.login-buttons .orange {
    margin-right: 35px;
}

.about-us {
    text-align: center;
    padding: 50px 0;
}

.about-us h2 {
    margin-bottom: 10px;
    font-style: italic;
}

.about-us hr {
    width: 400px;
}

.about-us p {
    font-size: 15px;
    width: 640px;
    margin: 10px auto 0;
}

.company-home-container, .youtber-home-container {
    background: #fdfaf6;
    padding: 50px 0;
}

.company-home, .youtuber-home {
    width: 300px;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 8px 3px rgb(0 0 0 / 12%);
    margin: 10px 0;
}

.company-home-description, .youtuber-home-description {
    padding: 22px;
}

.company-home h3, .youtuber-home h3 {
    text-align: center;
    border-bottom: 2px dotted black;
    padding-bottom: 7px;
}

.company-home-rating {
    font-size: 20px;
}

.company-home-info p {
    border-left: 1px solid black;
    padding-left: 5px;
    padding-top: 6px;
    font-size: 15px;
}

.company-home-info span {
    padding-right: 10px;
}

.company-title, .youtuber-title {
    text-align: center;
    padding-bottom: 30px;
}

.company-title hr, .youtuber-title hr {
    width: 700px;
    border: 1px solid rgb(3, 174, 255);
}

.company-home img, .youtuber-home img {
    width: 100%;
    height: 200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.youtuber-home-description {
    text-align: center;
}

.youtber-home-container {
    background: #fffdf6;
}

/*** SliderBox ***/

.carousel-block {
    position: relative;
}

.btn-prev-slider, .btn-next-slider {
    opacity: 0;
    transition: opacity 0.6s;
}

.carousel-block:hover .btn-prev-slider, .carousel-block:hover .btn-next-slider  {
    opacity: 0.8;
}

.btn-prev-slider {
    position: absolute;
    top: 40%;
    left: 2%;
    border: 1px solid black;
    padding: 7px 16px 11px 14px;
    font-size: 21px;
    border-radius: 50%;
    cursor: pointer;
}

.btn-next-slider {
    position: absolute;
    top: 40%;
    right: 2%;
    border: 1px solid black;
    padding: 7px 15px 11px 15px;
    font-size: 21px;
    border-radius: 50%;
    cursor: pointer;
}

.alice-carousel__stage {
    transition: transform 1000ms ease 0ms !important; /* TODO: not the best practice */
}

.about-you {
    text-align: center;
    padding: 100px 0;
    background: linear-gradient(rgba(255,255,255,.6),rgba(255,255,255,.6)),url(./images/about-you.jpg) no-repeat center;
    background-size: cover;
}

.about-you h2 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.about-you hr {
    width: 600px;
    border: 1px solid #03aeff;
}

.about-you p {
    font-size: 18px;
}

.about-you div {
    padding-top: 40px;
    font-style: italic;
    font-size: 19px;
    text-transform: uppercase;
}

/*** Register company ***/

.register-container {
    display: flex;
}

.register-info {
    width: 70%;
    background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url(./images/register-info.jpg) no-repeat center;
    background-size: cover;
    box-shadow: 17px 2px 10px -7px rgba(0,0,0,0.28);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    padding-top: 222px;
    color: white;
}

.register-info h1 {
    text-transform: uppercase;
    font-size: 35px;
}

.register-info p {
    width: 70%;
    margin: 24px auto;
    font-style: italic;
    opacity: 0.9;
    text-shadow: 4px 3px 5px rgb(8 8 8);
}

.register-form {
    width: 30%;
}

.register-form form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

.register-company-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 12px 0;
}

.register-company-field > span {
    position: absolute;
    left: 0;
    bottom: -20px;
    color: #ff6060;
    font-size: 12px;
    font-style: italic;
}

#register-company-logo {
    display: none;
}

.company-logo-label {
    border-bottom: 1px solid #949494;
}

.company-logo-value {
    color: #777777;
}

#register-company-button {
    margin: 20px;
}

#standard-multiline-static { 
    height: 76px !important; /* TODO: not the best practice */
}

/*** Admin/Company login ***/

.login-container {
    text-align: center;
    padding: 130px 0 230px 0;
}

.admin-login {
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url(./images/admin-login-background.jpg) no-repeat center;
    background-size: cover;
}

.company-login {
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url(./images/company-login-background.jpg) no-repeat center;
    background-size: cover;
}

.login-form {
    background: rgba(255, 255, 255, .9);
    width: 400px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 0px 15px -1px rgb(0 0 0 / 34%);
}

.login-form h1 {
    color: #2185d0;
    padding: 18px 0;
    border-bottom: 7px solid #2185d0;
    margin-bottom: 5px;
}

.login-field {
    position: relative;
    display: inline-block;
    width: 65%;
    align-items: center;
    margin: 12px 0;
}

.login-field > .MuiTextField-root {
    width: 100%;
}

.login-field > span {
    position: absolute;
    left: 0;
    bottom: -20px;
    color: #ff6060;
    font-size: 12px;
    font-style: italic;
}

#login-button {
    margin: 20px 0;
}

/*** Ad form ***/

.ad-form-container {
    text-align: center;
    padding: 50px 0;
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url(./images/create-ad-background.jpg) no-repeat fixed;
    background-size: cover;
}

.ad-form {
    background: rgba(255, 255, 255, .9);
    width: 464px;
    margin-left: 90px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px -1px rgb(0 0 0 / 34%);
}

.ad-form h1 {
    color: #2185d0;
    padding: 18px 0;
    border-bottom: 7px solid #2185d0;
    margin-bottom: 5px;
}

.ad-form-field {
    position: relative;
    display: inline-block;
    width: 74%;
    align-items: center;
    margin: 12px 0;
}

.ad-form-field > .MuiTextField-root {
    width: 100%;
}

.ad-form-field > p {
    position: absolute;
    right: 17px;
    top: 20px;
    font-size: 16px;
    font-style: italic;
    margin: 0;
}

.ad-form-field > span {
    position: absolute;
    left: 0;
    bottom: -20px;
    color: #ff6060;
    font-size: 12px;
    font-style: italic;
}

#ad-form-picture {
    display: none;
}

.ad-form-picture-label {
    border-bottom: 1px solid #949494;
    width: 100%;
    display: block;
    text-align: left;
}

.ad-form-picture-value {
    color: #777777;
}

.characteristics ul {
    text-align: left;
    width: 65%;
    margin: 5px auto;
    padding: 0;
    font-size: 16px;
}

.characteristics li {
    padding: 5px 0;
}

.remove-char {
    padding-left: 5px;
    color: #de2222;
    cursor: pointer;
}

.create-char-container h4 {
    font-size: 22px;
    color: #2185d0;
    padding: 12px 0;
    border-top: 4px solid #2185d0;
    border-bottom: 4px solid #2185d0;
    margin-bottom: 5px;
    margin-top: 16px;
}

.create-char-container .button {
    margin: 15px 0 0 0;
}

.new-char {
    display: none;
}

.new-char-active {
    display: block;
}

#ad-form-button {
    margin: 20px 0;
}

.edit-curr-text {
    margin: 5px 0;
    font-weight: 100;
    font-size: 12px;
    text-align: left;
    color: rgba(0, 0, 0, 0.54);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.edit-curr-img {
    width: 100%;
}

/*** Company requests ***/

#company-register-table, #company-history-table {
    width: 80%;
    margin: 10px auto;
}

#company-requests-title, #company-history-title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

#company-requests-title {
    color: #2185D0;
}

.company-request-body #company-request-row:nth-child(even) {
    background-color: #d9efff;
}

.company-requests hr {
    margin-top: 63px;
    height: 2px;
    background: linear-gradient(to right,  #2185D0 50%,#21BA45 50%);
}

#company-history-title {
    color: #21BA45;
}

#company-history-row.allowed  {
    background-color: #abffab;
}

#company-history-row.blocked  {
    background-color: #ffabab;
}

/*** Ad block ***/

.company-ads-block {
    background-color: #EFF2F9;
    padding: 50px 0;
}

.company-ads-block-wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
    padding: 60px 0 20px 0;
}

.company-filters {
    width: 80%;
    margin: 0 auto 40px;
    background: #EFF2F9;
    border-radius: 10px;
    padding: 40px;
}

.company-filters h2 {
    text-align: center;
    margin-bottom: 25px;
}

.company-filters-container {
    display: flex;
}

.left-filters-container, .right-filters-container {
    flex-grow: 1;
}

.company-filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 15px 0;
    padding-left: 40px;
}

.company-filter-container > span {
    width: 150px;
    font-weight: bold;
}

.company-filter-container input {
    width: 200px;
}

.company-status-filter {
    width: 200px;
}

.company-slider {
    display: flex;
    flex-direction: column;
}

.company-slider > span {
    width: 100%;
    margin-bottom: 10px;
}

.companies-block {
    width: 75%;
    margin: 0 auto;
}

.company-block {
    display: flex;
    margin: 50px 0;
}

.company-block img {
    width: 450px;
    border-radius: 10px;
}

.company-block-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 50px;
}

.company-block-info h3 {
    font-size: 30px;
}

.company-block-info span {
    margin: 5px 0;
    font-size: 16px;
}

.company-block-info .company-email {
    font-size: 18px;
}

.company-block-control {
    display: flex;
    flex-direction: column;
}

#company-details-button, #show-ads-button {
    margin: 5px 0;
    width: 145px;
}

.company-ads-block-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 0;
    overflow-y: hidden;
    padding: 0 17px;
}

#company-ads-block-active.company-ads-block-container {
    height: auto;
}

.company-ad-block-container {
    width: 270px;
    margin: 20px 0;
    box-shadow: 0px 0px 25px -2px rgb(0 0 0 / 40%);
    border-radius: 10px;
}

.company-ad-img {
    position: relative;
}

.company-ad-block-container img {
    width: 100%;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#company-ad-out-of-date {
    filter: blur(3px);
    pointer-events: none;
}

.company-ad-out-of-date-text {
    position: absolute;
    top: 45%;
    left: 20px;
    color: red;
    font-size: 22px;
    font-weight: 900;
    text-shadow: 4px 3px 5px rgb(8 8 8);
    transform: rotate(23deg);
}

.company-ad-block-info {
    padding: 22px;
}

.company-ad-block-info > div {
    margin: 5px 0;
}

.rating-info {
    font-size: 18px;
}

#copmany-block-buttons {
    text-align: center;
    margin: 10px 0 0 0;
}

#company-block-pagination {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

/*** Company details ***/

.company-details {
    background-color: #e3e6eeb2;
    padding-bottom: 40px;
}

.company-details-title h2 {
    text-align: center;
    padding-top: 60px;
    font-size: 27px;
    color: white;
    font-weight: 900;
    text-shadow: 0 0 8px rgb(8 8 8);
}

.company-details-title hr {
    width: 50%;
    margin: 0 auto;
    height: 3px;
    background-color: #ffbc00;
    border: none;
}

.company-details-info {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 20px auto;
    padding: 40px 0;
    border: 5px solid #ffbc00;
    border-radius: 13px;
    background: white;
}

.company-details-left-info {
    width: 450px;
    box-shadow: 0px 0px 25px -2px rgb(0 0 0 / 40%);
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
}

.company-details-left-info img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.company-details-left-info h2 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

.company-details-left-info h3 {
    margin-top: 5px;
}

.company-details-left-info div {
    margin: 5px 0;
}

.company-details-right-info {
    width: 450px;
    box-shadow: 0px 0px 25px -2px rgb(0 0 0 / 40%);
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
}

#company-details-description-textarea {
    width: 100%;
    height: 110px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    border: 2px solid #D2D2D2;
}

.company-details-props {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.company-details-prop {
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
}

.company-details-prop span:first-child {
    background-color: #ffbc00;
    padding: 10px;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 155px;
    display: inline-block;
    text-align: center;
}

.company-details-prop span:last-child {
    border: 2px solid #ffbc00;
    padding: 8px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: inline-block;
    width: 150px;
    text-align: right;
}

.company-details-buttons {
    text-align: center;
    margin-top: 20px;
}

.company-available-ads h2, .company-outdate-ads h2,
.company-blocked-ads h2, .youtuber-applications-to-company h2 {
    padding-top: 40px;
}

.company-details-ads-container {
    background-color: white;
    width: 90%;
    margin: 24px auto;
    border: 2px solid #ffbc00;
    border-radius: 10px;
    padding: 10px 0;
}

.company-details-ads-container .company-ad-block-container {
    width: 300px;
}

.company-details-ads-container img {
    height: 200px;
}

.company-details-ads-container .company-ad-valid-to {
    margin: 10px 0 20px 0;   
}

.company-details-ads-container #copmany-ad-buttons {
    display: flex;
    justify-content: center;
}

.company-details-ads-container #ad-form-button {
    margin: 0;
}

.company-details-ads-container i {
    margin: 0 !important;
}

.company-outdate-ads .company-ad-out-of-date-text {
    position: absolute;
    top: 44%;
    left: 37px;
}

.company-blocked-ad-icon {
    position: absolute;
    top: 40px;
    left: 83px;
}

.company-blocked-ad-icon i {
    text-shadow: 0 0 8px rgb(8 8 8);
}

/*** Company subscribers page ***/

.company-subscribers-title {
    text-align: center;
    width: 40%;
    margin: 40px auto 0;
}

.company-subscribers-title h2 {
    font-size: 33px;
    border-bottom: 3px solid #4678e8;
}

.company-subscribers-buttons {
    display: flex;
    justify-content: center;
    cursor: pointer;
    position: relative;
    bottom: -9px;
}

.company-subscribers-buttons div {
    padding: 14px 30px;
    margin-top: 20px;
    font-size: 18px;
    color: white;
    font-weight: 700;
}

.company-subscribers-buttons div:first-child {
    border: 3px solid #60b4f2;
    background-color: #60b4f2;
    margin-right: 20px;
}


.company-subscribers-buttons div:last-child {
    border: 3px solid #ffd26c;
    background-color: #ffd26c;
}

.subscribers-wrapper {
    padding: 80px 0;
    position: relative;
    z-index: 1;
}

.subscribers-inner-wrapper {
    width: 86%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: white;
    padding: 50px 80px;
    border-radius: 10px;
}

.allowed-active {
    background-color: #60b4f2;
}

.banned-active {
    background-color: #ffd26c;
}

.subscription-youtuber-container {
    width: 300px;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.3);
    padding: 20px 40px;
    margin: 40px;
}

.subscription-youtuber-img img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

.subscription-youtuber-info h2 {
    text-align: center;
    margin-top: 10px;
}

.subscription-youtuber-info h3 {
    margin: 10px 0;
}

.subscription-youtuber-block, .subscription-youtuber-details {
    text-align: center;
    margin: 5px 0;
}

/*** Youtuber details ***/

.youtuber-details {
    display: flex;
}

.youtuber-details-info-container {
    width: 24%;
    padding: 50px 40px;
    border-right: 2px solid #E8E9E9;
    background-color: #fef1e4;
}

.youtuber-details-img-container {
    width: 80%;
    margin: 0 auto;
}

.youtuber-details-info-container img {
    width: 100%;
    border-radius: 50%;
}

.youtuber-details-info-container h2,
.youtuber-details-info-container h3 {
    text-align: center;
}

.youtuber-details-description {
    margin-top: 40px;
}

#youtuber-details-description-textarea {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    padding: 15px;
    resize: none;
}

.youtuber-details-info p {
    font-size: 16px;
    padding-left: 4px;
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 3px solid #DFDFE0;
}

.youtuber-details-buttons {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 40px auto 0;
}

#youtuber-details-refresh {
    margin: 0 0 20px 0;
}

#youtuber-details-show-channel {
    margin: 0;
}

.youtuber-details-applications {
    width: 76%;
}

.youtuber-details-applications h2 {
    margin: 0;
    padding: 33px 0 6px 26px;
}

.youtuber-details-application-img img {
    width: 190px;
    height: 130px;
    margin: 0 10px;
    border-radius: 10px;
}

/*** Ad list ***/

.ad-list {
    display: flex;
}

.ad-list-filters {
    width: 25%;
    padding: 40px 30px;
    background-color: #f6f7fcb2;
}

.ad-list-filters h2 {
    border-bottom: 4px solid #f1c575;
    padding-bottom: 10px;
}

.ad-filter-container {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
}

.ad-filter-container > span {
    padding-bottom: 10px;
}

.ad-filter-container .rc-slider-mark {
    display: none;
}

.slider-filter-values {
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
}

.slider-filter-values span:last-child {
    position: relative;
    left: 6px;
}

.ad-filter-date {
    width: 100%;
}

.ad-list-container {
    width: 75%;
    padding: 36px 30px 10px 36px;
    border-left: 2px solid #f1c575;
}

.ad-list-title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border-bottom: 4px solid #f1c575;
    padding-bottom: 10px;
}

.ad-list-title h2 {
    margin: 0 0 5px 0;
    margin-right: 10px;
}

.ad-list-title span {
    color: #95969b;
}

.ad-list-items {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

.ad-list-not-found {
    color: red;
    font-size: 18px;
    padding: 15px 10px;
    font-style: italic;
}

.ad-list-item-wrapper {
    border: 1px solid #ebebeb;
    padding: 10px;
    box-sizing: border-box;
    padding: 20px;
    width: 33%;
    transition: transform 500ms ease 0ms
}

.ad-list-item-wrapper:hover {
    box-shadow: 0 0 8px rgb(156, 199, 255);
    transform: scale(1.02);
}

.ad-list-img-wrapper {
    max-width: 314px;
    margin: 0 auto;
    position: relative;
}

.ad-list-img-wrapper img {
    width: 100%;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ad-list-item-expired {
    filter: blur(3px);
}

.ad-list-img-wrapper div {
    position: absolute;
    top: 44%;
    left: 37px;
    color: red;
    font-size: 22px;
    font-weight: 900;
    text-shadow: 4px 3px 5px rgb(8 8 8);
    transform: rotate(23deg);
}

.ad-list-item-wrapper h2 {
    font-size: 25px;
}

.ad-list-rating > span {
    font-size: 18px;
}

.ad-list-item-wrapper h3 {
    margin: 10px 0;
}

.ad-list-requirements h4 {
    margin-bottom: 0;
}

.ad-list-requirements ul {
    padding-left: 29px;
    margin: 10px 0;
}

.ad-list-date {
    margin: 10px 0;
}

.ad-list-date span {
    font-weight: bold;
}

.ad-list-details {
    text-align: center;
    margin: 25px 0 5px 0;
}

.ad-list-pagination {
    margin: 15px 0;
}

/*** Ad details ***/

.ad-details {
    background-color: #7599ff;
    padding: 50px 0 10px 0;
}

.ad-details > h2 {
    border: 3px solid white;
    width: 500px;
    color: white;
    padding: 8px 0;
    margin: 0 auto;
    text-align: center;
}

.ad-details-container {
    display: flex;
    margin: 60px 0;
    justify-content: center;
}

.ad-details-left-container {
    background-color: white;
    padding: 30px;
    width: 450px;
    box-shadow: 0px 0px 15px -1px rgb(0 0 0 / 75%);
    margin-right: 40px;
}

.ad-details-img {
    position: relative;
}

.ad-details-img img {
    width: 100%;
    border-radius: 10px;
    height: 235px;
}

#ad-details-out-of-date {
    filter: blur(3px);
}

.ad-details-out-of-date-text {
    position: absolute;
    top: 44%;
    left: 56px;
    color: red;
    font-size: 26px;
    font-weight: 900;
    text-shadow: 4px 3px 5px rgb(8 8 8);
    transform: rotate(23deg);
}

.ad-details-blocked-icon {
    position: absolute;
    top: 27%;
    left: 133px;
}

#ad-details-blocked-ban-icon {
    text-shadow: 0 0 8px rgb(8 8 8);
}

.ad-details-left-container > h2 {
    font-size: 30px;
    text-align: center;
}

.ad-details-rating {
    margin-top: 20px;
}

.ad-details-rating span {
    font-size: 18px;
}

.ad-details-left-container > h3 {
    margin: 15px 0;
}

.ad-details-requirements ul {
    padding: 0 30px;
}

.ad-details-yotuber-diff {
    color: red;
}

.ad-details-date {
    margin: 5px 0;
}

.ad-details-date > span {
    font-weight: 900;
}

.ad-details-description {
    margin-top: 25px;
}

.ad-details-description textarea {
    padding: 10px 15px;
    resize: none;
    width: 100%;
    height: 120px;
}

.ad-details-characteristics {
    margin-top: 18px;
}

.ad-details-characteristics ul {
    padding: 0 30px;
}

.ad-details-right-container {
    width: 450px;
}

.ad-details-company-info {
    background-color: white;
    box-shadow: 0px 0px 15px -1px rgb(0 0 0 / 75%);
    padding: 30px;
    text-align: center;
}

.ad-details-company-info img {
    width: 100%;
    border-radius: 10px;
}

.ad-details-company-info h3:first-of-type {
    border-bottom: 3px solid black;
    margin-bottom: 0;
    padding-bottom: 10px;
    font-size: 28px;
}

.ad-details-company-info h3:last-of-type {
    margin: 15px 0 18px 0;
    font-size: 20px;
}

.ad-details-apply-for {
    background-color: white;
    box-shadow: 0px 0px 15px -1px rgb(0 0 0 / 75%);
    padding: 30px;
    text-align: center;
    margin-top: 40px;
}

.ad-details-apply-for-validation {
    color: red;
    font-style: italic;
}

.ad-details-apply-for textarea {
    width: 100%;
    resize: none;
    padding: 10px 15px;
    height: 160px;
    font-size: 17px;
    margin: 15px 0;
    background-color: #F8F8F8;
}

.youtuber-applications-to-ad {
    width: 63%;
    margin: 10px auto;
}

.youtuber-applications-to-ad h2 {
    border: 3px solid white;
    width: 500px;
    color: white;
    padding: 8px 0;
    margin: 0 auto;
    text-align: center;
}

.ad-details-applicatoins-container {
    background-color: white;
    margin: 40px auto;
    border: 2px solid #044283;
    border-radius: 10px;
    padding: 10px 0;
}

.ad-details-applicatoins-wrapper {
    margin: 20px 0;
    box-shadow: 0px 0px 25px -2px rgb(0 0 0 / 40%);
    border-radius: 10px;
    width: 300px;
}

.ad-details-applicatoins-wrapper img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ad-details-application-info {
    padding: 20px
}

.ad-details-application-info h3 {
    font-size: 22px;
}

.ad-details-application-button {
    text-align: center;
    margin: 15px 0px 5px 0;
}

/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
	padding: 1rem;
	background-color: rgb(155, 160, 165);
}

header a {
	text-decoration: none;
	color: white;
	padding: 1rem;
}

.active {
	background-color: rgb(102, 104, 105);
}

.container {
	text-align: center;
}

form label {
	display: block;
}

form input {
	border: 1px solid black;
    padding: 0.4rem 0.5rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    outline: none;
}

form input[type="submit"] {
	border: none;
    color: white;
    background: #9dbdba;
    padding: 0.6rem 2rem;
    font-size: 1.1rem;
    margin-top: 0.5rem;
	cursor: pointer;
}

form input[type="submit"]:hover {
    background: #6b8f8b;
}

form input::placeholder {
	text-transform: capitalize;
}

header h2 {
	display: inline;
    font-size: 1.4rem;
    color: #fff7f5;
    margin-right: 1rem;
}

.slider-boxes {
    position: relative;
    overflow: hidden;
}

.slider-button-left {
    position: absolute;
    left: 0;
    z-index: 1;
    height: 222px;
    top: 0;
    background-color: rgba(0, 0, 0, .1);
    border: none;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
    transition: background-color 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.slider-button-left:hover {
    background-color: rgba(0, 0, 0, .3);
}

.slider-button-right {
    position: absolute;
    right: 0;
    z-index: 1;
    height: 222px;
    top: 0;
    background-color: rgba(0, 0, 0, .1);
    border: none;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
    transition: background-color 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.slider-button-right:hover {
    background-color: rgba(0, 0, 0, .3);
}

.boxes-wrapper {
    width: 230px;
    height: 222px;
    margin: 0 auto;
    bottom: -117px;
}

.boxes {
    display: flex;
    position: absolute;
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.box {
    flex: 1;
    padding: 35px 0;
    min-width: 200px;
    border: 2px solid blue;
    margin: 0 15px;
    transform: scale(.8);
    opacity: 0.5;
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.box-active {
    transform: scale(1);
    opacity: 1;
}

.slider-container {
    width: 300px;
    padding: 20px;
} */