<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Company status change</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background-color: #b7e9f8; margin: 0;">
<div style="width: 600px; margin: 0 auto;">
    <div style="text-align: center; background: linear-gradient(rgba(26,145,231,0.4),rgba(73,138,239,0.4)),url(https://res.cloudinary.com/dbeoyblgx/image/upload/v1621801856/coffe-background_elul7a.jpg) no-repeat center; background-size: cover; padding: 30px 0">
        <img src="https://res.cloudinary.com/dbeoyblgx/image/upload/v1621801752/handshake_wnj7ys.png" width="150px" height="120px" alt="Image logo">
        <p style="width: 500px; color: white; font-family: Arial; font-size: 36px; font-weight: bold; margin: 10px auto 20px auto; text-shadow: 4px 4px 2px rgba(150,150,150,0.38);">
            Регистрация в сайта за рекламно партньорство
        </p>
    </div>
    <div style="padding: 30px 0 10px 0; background-color: #ffffff;">
        <div style="width: 500px; margin-left: 45px; padding: 7px 15px; font-family: Courier; font-size: 16px; border-left: 17px solid #1A91E7;">
            <p>Благодарим Ви, че регистрирахте вашата компания в нашия сайт.</p>
            <p th:if="${requestAllowed}">Внимателно прегледахме вашите данни и искаме да Ви приведстваме, като част от нашата рекламно партньорска услуга!</p>
            <p th:if="${!requestAllowed}">Внимателно прегледахме вашите данни и забелязахме неточности по тях. За повече информация за неудобрената заявка можете да се свържете с нас на <a href="mailto::adspartners@gmail.com" style="color:#86adea; text-decoration: none;">adspartners@gmail.com</a>.</p>
            <p style="font-family: Arial; font-weight: bold;">С Уважение, <br/>AdsPartners отбора</p>
        </div>
    </div>
    <div style="width: 600px; background: white; padding: 30px 0 10px 0">
        <p style="font-family: Cambria; font-size: 12px; width: 450px; margin: 0 auto;">
            Моля не отговаряйте на това съобщение. Може да се свържете с нас на следния адрес: <a href="mailto::adspartners@gmail.com" style="color:#86adea; text-decoration: none;">adspartners@gmail.com</a>
        </p>
        <p style="font-family: Cambria; font-size: 12px; width: 450px; margin: 15px auto;">
            &copy; copyright 2021 AdsPartners
        </p>
    </div>
</div>
</body>

</html>